/* Place in your CSS file at the top of the document */

@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

body {
    font-family: 'Changa', sans-serif;
    background-color: #000000;
    
  }
  
  .container {
    max-width: 400px;
    width: 350px;
    background: rgba(195, 195, 195, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-size: auto;
  }
  
#textcnt{
  width: small;
  max-width: auto;
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  background: rgba(0, 183, 179, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 183, 179, 0.3);
  text-align: center;
}

#textcnt h2{
  color: #ffffff;
  text-align: center;
}

#textcnt d{
  color:#b7bbaf;
  font-size: small;
}

#textnot{
  width: small;
  max-width: auto;
  margin: 30px auto;
  padding: 10px;
  background: -webkit-linear-gradient(#1d515572 ,#3f6f714b );
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(0, 183, 180, 0.256);
  box-shadow: 0 0px 10px rgba(0, 162, 154, 0.831);
}

#textnot h2{
  text-align: center;
  color: #b7bbaf;
  font-size: larger;
}

#textnot h1{
  text-align: right;
  color: #ffffff;
  font-size: smaller;
}

#textnot h3{
  text-align: right;
  color: #ffffff;
  font-size: smaller;
}


  .nav-tabs {
    position: center;
    margin-top: auto;
    width: auto;
    max-width: auto;
  }
  
  .nav-tabs .nav-item {
    margin-bottom: -1px;
  }
  
  .nav-tabs .nav-link {
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    color: rgb(0, 255, 204);
  }
  
  .nav-tabs .nav-link.active {
    background-color: rgba(0, 255, 204, 0.076);
    border-color: #ddd #ddd #f8f9fa;
    color: #ffffff;
  }
  
  .tab-pane {
    padding: 20px;
    border-radius: 0 0 5px 5px;
    background-color: #d2a32100;
    color: #ffffff;
    text-align: center;
  }
  
  .lecture-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .lecture-list-item {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background: rgba(0, 183, 179, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.944);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 183, 180, 0.221);
    width: 200px;
    font-size:1.5ch;
  }
  
  .btn-primary:hover {
    background-color: rgb(0, 140, 112);
  }




  /* background stuff */

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@keyframes rotateMoon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
  z-index: -3;
}

.stars {
 background: black url("https://drive.google.com/uc?export=download&id=1ev5qSsRVM-W5d-0GU-V6HMrTF8P0FWSF") repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}



.clouds{
	width:5000px;
	height: 100%;
	background: transparent url("https://drive.google.com/uc?export=download&id=1c10dYHulAhhuErUoltjvAHqnTO2rapoW") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 15s linear infinite;
  -ms-animation:move-background 15s linear infinite;
  -o-animation:move-background 15s linear infinite;
  -webkit-animation:move-background 15s linear infinite;
  animation:move-background 15s linear infinite;
}


.moon{
  background-image: url(https://drive.google.com/uc?export=download&id=1N24L7LcHZy_PrncTHoiMh-vZGcM6Dlk-) ;
  background-repeat: no-repeat;
  background-size:cover;
  width: 500px;
  height: 500px;
  scale: 1;
  right: 40%;
  top: -100px;
  position: absolute;
  animation: rotateMoon 60s linear infinite;
  transform-origin: center center; 
}



@keyframes rotateMoon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
 opacity: 0;
 height: 0px !important ;
 background: rgba(219, 137, 232, 0) !important;
}

